<template name="layout">
	<body>
	  <div id="waveform">
	  </div>
	  <header>
	    <nav>
	      <div class="nav-wrapper">
	        <a href="#" class="brand-logo center">Electrophone</a>
	        <ul id="nav-mobile" class="left hide-on-med-and-down">
	        </ul>
	      </div>
	    </nav>
	  </header>
	  <main>
	      {{> dragList}}
{{> yield}}
	    <div class="Aligner">
	      <div class="Aligner-item">
					{{> soundUpload }}
	      </div>
	    </div>
	  </main>
	  <footer>
	    <nav class="grey">
	      <div class="nav-wrapper">
	      <!--  <div class="left">
	          <a class="btn-floating btn-large waves-effect waves-light red material-icons"><i class="material-icons">play_arrow</i></a>
	        </div>
	      -->
	        <div class="center">
	{{> playButton}}        </div>
	      </div>
	    </nav>

	  </footer>
	</body>
</template>

	<template name="dragList">
	      <ul id="trackList" class="collection">
	      	{{#each tracks}}
	          {{> trackItem}}
	        {{/each}}
	      </ul>
	</template>

	<template name="trackItem">
	  <li data-id="{{track_index}}" class="collection-item avatar">
	    <i class="material-icons circle" style="background-color:inherit;color:inherit;">reorder</i>
	    <div class="dragdealer" id="track-{{track_id}}">
	      <div class="handle red-bar">{{sound_name}}</div>
	    </div>
	    <i class="secondary-content material-icons delete-button">delete</i>
	    <div class="number">{{_id}}</div>
	  </li>
	</template>
