<template name="soundUpload">
	<form action="#">
		<div class="file-field input-field">
			<!--<input class="file-path validate" type="text"/>-->
			<div class="btn">
				<span><i class="material-icons right">add</i>Import track</span>
				<span><input type="file" name="soundUploadName" class="myFileInput"/></span>
			</div>
		</div>
	</form>
		<!--<a class="waves-effect waves-light btn-large"><input type="file" name="soundUploadName" class="myFileInput" /><i class="material-icons right">add</i>Import track</a>-->
</template>
